.page {
    width: 500px;
    margin: 0 auto;
    padding: 0;
}

.game-container {
    position: relative;
    display: block;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    width: 500px;
    height: 500px;
}

.scores-container {
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: #f3f3f3;
    padding: 10px 20px;
    text-align: center;
    font-size: 24px;
}

.level-select-box {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    box-sizing: border-box;
}

.grid-row {
    display: table;
    margin-bottom: 15px;
}
.grid-row:last-child {
    margin-bottom: 0;
}
.grid-row:after {
    content: "";
    display: block;
    clear: both;
}

.grid-cell {
    background: #EEEEEE;
    color: #6C7A89;
    text-align: center;
    border-radius: 4px;
    float: left;
}

.grid-cell:last-child {
    margin-right: 0;
}

.grid-cell {
    background: #EEEEEE;
    color: #676767;
    text-align: center;
    border-radius: 4px;
    float: left;
}

.game-cell {
    margin-right: 15px;
    font-weight: bold;
    z-index: 5;
}

.game-cell-x3 {
    font-size: 48px;
    width: 156.66px;
    height: 156.66px;
    line-height: 156.66px;
}
.game-cell-x4 {
    font-size: 36px;
    width: 113.75px;
    height: 113.75px;
    line-height: 113.75px;
}
.game-cell-x5 {
    font-size: 32px;
    width: 88px;
    height: 88px;
    line-height: 88px;
}

.grid-container {
    position: absolute;
    z-index: 1;
}

.tile-container {
    position: absolute;
    z-index: 2;
}

.trail-cell {
    width: 46.66px;
    height: 46.66px;
    line-height: 46.66px;
    margin-right: 10px;
    
    font-size: 15px;
}

.current-cell {
    border: 5px solid #ccc;
    line-height: 33.33px;
}